node_modules/**/*
.expo/*
npm-debug.*
package-lock.json
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
android/gradle.properties
android/.expo/emporio.keystore

# macOS
.DS_Store
